canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  min-width: 900px; 
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
  background-color: rgba(255,255,255, 0.98);
}
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
nav.navbar.navbar-default {
  background-color: #D6433B;
  border-bottom: 4px solid #C5322A;
}

nav.navbar.navbar-default .navbar-brand{
  color: #fff;
}

nav.navbar.navbar-default .navbar-nav>li>a{
  color: #fff;
}

nav.navbar-default .navbar-toggle {
  border: 0;
}

nav.navbar-default .navbar-toggle:hover {
  background-color: #C5322A;
}

nav.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #C5322A;
}

nav.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
#footer {
  background-color: #2A2B3D;
}

#footer div.container p.text-muted {
    color: #51536B;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
